@font-face {
  font-family: 'Lepka';
  src: url('/fonts/Lepka-Regular.woff2') format('woff2'),
       url('/fonts/Lepka-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lepka';
  src: url('/fonts/Lepka-Bold.woff2') format('woff2'),
       url('/fonts/Lepka-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krasnodar Grotesk';
  src: url('/fonts/KrasnodarGrotesk-Regular.woff2') format('woff2'),
       url('/fonts/KrasnodarGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krasnodar Grotesk';
  src: url('/fonts/KrasnodarGrotesk-Medium.woff2') format('woff2'),
       url('/fonts/KrasnodarGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} 